@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }
  #chat_window::-webkit-scrollbar {
    width: 5px;
  }
  #chat_window::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgba(111, 111, 111, 0.195);
    border-radius: 5px;
  }
}
